// color
$txt-color1: #090915;
$txt-color2: #4B5E75;
$txt-color3: #656C73;
$txt-color4: #818EA0;
$txt-color5: #CCD0D7;
$txt-color6: #D3D9FF;
$color-main: #4159F7;
$color-yellow: #F3A827;
$color-green: #4BE443;
$color-red: #D20D24;
$color-star: #EDD815;
$btn-color: #3E3EF4;

// fontSize
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 20px;
$fontSize6: 24px;
$fontSize7: 28px;
$fontSize8: 30px;

// border
$borderColor: #e5e5e5;

// bounce effect
$transEffect: cubic-bezier(0, 0, 0.14, 0.98);